@font-face {
    font-family: 'Roboto';
    src: url('Roboto-BlackItalic.eot');
    src: local('Roboto Black Italic'), local('Roboto-BlackItalic'),
        url('/fonts/Roboto-BlackItalic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Bold.eot');
    src: local('Roboto Bold'), local('Roboto-Bold'),
        url('/fonts/Roboto-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-BoldItalic.eot');
    src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'),
        url('/fonts/Roboto-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-LightItalic.eot');
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
        url('/fonts/Roboto-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular.eot');
    src: local('Roboto'), local('Roboto-Regular'),
        url('/fonts/Roboto-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-ThinItalic.eot');
    src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'),
        url('../fonts/Roboto-ThinItalic.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Black.eot');
    src: local('Roboto Black'), local('Roboto-Black'),
        url('../fonts/Roboto-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-MediumItalic.eot');
    src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'),
        url('../fonts/Roboto-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Thin.eot');
    src: local('Roboto Thin'), local('Roboto-Thin'),
        url('../fonts/Roboto-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Light.eot');
    src: local('Roboto Light'), local('Roboto-Light'),
        url('../fonts/Roboto-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Italic.eot');
    src: local('Roboto Italic'), local('Roboto-Italic'),
        url('../fonts/Roboto-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Medium.eot');
    src: local('Roboto Medium'), local('Roboto-Medium'),
        url('../fonts/Roboto-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}
body{
    font-family: "Roboto", sans-serif;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
header{
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
header .wrapper_menu{
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .container{
    position: relative;
    height: 120px;
    padding-top: 26px;
}
header .hr{
    display: block;
    height: 1px;
    width: 100%;
    margin: 0;
    background-color: #ebebeb;
    position: absolute;
    bottom: 1px;
}
.header_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}
.header_img{
    width: 68px;
    height: 68px;
    margin-right: 10px;
}
.logo_text{
    font-size: 15px;
    line-height: 50px;
    font-weight: 400;
    color: #656973;
}


.doitnow{
    height: 850px;
}
.doitnow .container{
    width: 1500px;
    margin: 0 auto;
    display: flex;
    position: relative;
}
.doitnow_text{
    width: 460px;
    height: 305px;
    letter-spacing: -2px;
    margin-top: 410px;
    margin-left: 180px;
}
.doitnow_text_title{
    margin-left: 35px;
    position: relative;
    height: 95px;
}
.doitnow_text_title:before{
    content: "";
    display: block;
    width: 5px;
    height: inherit;
    border-radius: 2.5px;
    background-color: #18a3dd;
    position: absolute;
    left: -35px;
    top: 0;
}    
.doitnow_text_title h1{
    font-size: 72px;
    line-height: 72px;
    font-weight: 900;
    text-transform: uppercase;
    color: #333740;
}
.doitnow_text_title h2{
    font-size: 24px;
    line-height: 24px;
    font-weight: 800;
    letter-spacing: -1px;
    color: #333740;
}
.doitnow_subtitle{
    margin-top: 70px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #666666;
}
.doitnow_btn{
    display: flex;
    justify-content: left;
    margin-top: 50px;
}
.btn_order{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 180px;
    height: 50px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 700;
    color: #333740;
    letter-spacing: 0.025em;
    background-color: #18a3dd;
    transition: 0.3s all;
}
.btn_order:hover{
    box-shadow: 3px 3px 20px #6489b9;
    border: none;
    color: #f1f1f1;
}
.btn_video{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 700;
    color: #333740;
    letter-spacing: 0.025em;
    transition: 0.3s all; 
    margin-left: 20px;
}
.btn_video:after{
    content: "";
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background: url(../icons/play.png) center center / cover no-repeat; 
    margin-left: 10px;
}
.btn_video:hover{
    border: none;
    font-size: 17px;
}
.doitnow_img{
    position: absolute;
    top: 300px;
    right: 125px;
}
.doitnow_grid{
    display: block;
    position: absolute;
    width: 940px;
    height: 191px;
    z-index: -1;
    top: 500px;
    right: 0;
    background: url(../img/grid.png) center center/ cover no-repeat;
}

.capsules{
    width: 100%;
    height: 525px;
}
.capsules_info{
    margin: 110px auto;
    background-color: #1a1123;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.capsules_item{
    margin-right: 140px;
}
.capsules_item1{
    margin-left: 60px;
}
.capsules_number{
    font-size: 72px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #ffffff;
    line-height: 72px;
    position: relative;
    margin-left: 20px;
}
.capsules_number:before{
    content: "";
    display: block;
    width: 5px;
    height: 50px;
    border-radius: 2.5px;
    background-color: #18a3dd;
    position: absolute;
    left: -20px;
    bottom: 0;

}
.capsules_text{
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #18a3dd;
    margin-top: 35px;
}
.capsules_subtext{
    line-height: 24px;
    font-weight: 300;
    text-transform: none;
    color: #a9a9a9;
}

.fetures{
    height: 580px;
}
.fetures-title{
    font-size: 30px;
    line-height: 22px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #333740;
    text-align: center;
    position: relative;
}
.fetures-title span{
    font-weight: 300;
}
.fetures_title:after{
    content: "";
    display: block;
    width: 1px;
    height: 40px;
    background-color: #18a3dd;
    position: absolute;
    left: calc(50% - 1px) ;
    top: -8px;
}
.fetures-dubtitle{
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #83888f;
    text-align: center;
    margin-top: 25px;
}
.fetures_flexbox{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 70px;
}
.fetures_item{
    display: block;
}
.flexbox_item{
    width: 270px;
    min-height: 90px;
    margin-top: 50px;
}
.flexbox_item h2{
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #333740;
    position: relative;
    text-align: right;
    margin-right: 35px;
}
.flexbox_item h2:after{
    content: "";
    display: block;
    width: 5px;
    height: 40px;
    border-radius: 2.5px;
    background-color: #18a3dd;
    position: absolute;
    top: 0;
    right: -35px;
}
.flexbox_item p{
    font-size: 16px;
    font-weight: 300;
    text-transform: none;
    color: #5b5f64;
    text-align: right;
    margin-top: 35px;
}
.fetures_item_reigt .flexbox_item h2{
    text-align: left;
    margin-left: 35px;
}
.fetures_item_reigt .flexbox_item h2:after{
    left: -35px;
}
.fetures_item_reigt .flexbox_item p{
    text-align: left;
}

.realman{
    padding-top: 110px;
}